{
  "env": {
    "build": {
      "presets": [
        "react",
        "stage-3",
        [
          "latest",
          {
            "es2015": { "modules": false }
          }
        ]
      ]
    },
    "test": {
      "presets": ["react", "stage-3", "latest"]
    }
  }
}
